
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
#header {
    background-color:blue;
    color:white;
    text-align:center;
    padding:5px;
}
.section {
    line-height:30px;
    background-color:#eeeeee;
    height:195px;
    width:100px;
    float:left;
    padding:5px;
}
.section {
    width:295px;
    float:left;
    padding:10px;
}
 
