 <!DOCTYPE html>
<html>
<head>
<title>Team White Space</title>
<link rel="stylesheet" type="text/css" href="finalStyle.css">
<body background="spaceBackground.jpg">
</head>
<body>
	
<div id="header">
<h1> <font color="red">Planet Website</font> 
	<select>
	  <option value="Exoplanets">Exoplanets</option>
	  <option value="Stars">Stars</option>
	  <option value="Galaxies">Galaxies</option>
	  <input type="submit" value="Submit"></fieldset>
	  <input type="submit" value="Home"></fieldset>
		</select>
</h1>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

</body>
</html>