 <!DOCTYPE html>
<html>
<head>
<style>
body {
background-image:url("../static/spaceBackground.jpg");
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
</style>
<title>Team White Space</title>
<link rel="stylesheet" type="text/css" href="../static/finalStyle.css">
<body>
</head>
<body>
	
<div class="header">
<h1><font color="red">Space Horizon</font></h1>
</div>
<div class="aside">
<h3><a class = "button" href="/main/">Exoplanets</a></li>
  <a class = "button" href="/stars/">Stars</a></li>
  <a class = "button" href="/galaxy/">Galaxies</a></li>
  <a class = "button" href="/">Main</a></li></h3>
</div>

{% for i in range(l|length) %}

<div class="section">
<h1>{{l[i]}}</h1>
<p>{{z[i]}} light years away from you.</p>
</div>

<!--<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>
{{z}}
</div>

<div class="section">
<h1>{{l}}</h1>
<p>{{z}}</p>
</div>-->

{%endfor%}
</body>
</html>
